parameters:
    level: 1
    paths:
        - src

    reportUnmatchedIgnoredErrors: true

    excludePaths:
        - src/Dispatcher/Laravel/IncomingMessageJob.php
        - src/Dispatcher/Laravel/LaravelQueueIncomingDispatcher.php
        - src/LaravelServiceProvider.php
        - src/Session/Laravel/LaravelCacheSessionStore.php
        - src/Laravel/Console/CliThreadFlowCommand.php
        - src/Laravel/Console/GenerateThreadFlowPageCommand.php
